div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a,button,input {
	transition: all ease-out .3s;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* LOADER */
#loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.88);
	z-index: 3000;
	&.show {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.loader, .loader:after {
		width: 8em;
		height: 8em;
	}
}

.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinner 1.1s infinite linear;
  animation: spinner 1.1s infinite linear;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
	font-family: $font_main;
	font-size: 15px;
	line-height: 1.6;
	color: $color_main;
}
.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.site {
	position: relative;
	border-top: 8px solid $color_blue;
	overflow-x: hidden;
	overflow-y: auto;
}
.logo {
	width: 65px;
	position: relative;
	top: 5px;
	z-index: 50;
	@include tab {
		top: 0;
		width: 30%;
	}
	a,img {
		display: block;
		float: left;
	}
	a {
		width: 100%;
		@include tab {
			width: 100px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}
/* Navigation */
.site-header {
	height: 75px;
	@include tab {
		padding-top: 20px;
		padding-bottom: 20px;
		height: auto;
	}
	.flexwrap {
		@include tab {
			@include flexgroup-center();
		}
	}
}
.cloud .st0{fill:#FFF7EB;}
.main-navigation {
	@include tab {
		width:70%;
	}
	.mainmenu {
		display: block;
		@include tab {
			display: inline-block;
			float: right;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			position: relative;
		}
		a {
			text-decoration: none;
			display: inline-block;
			position: relative;
		}
	}
	ul.menu {
		float: left;
	}
	ul.menu > li:first-child {
		display: none;
	}
	ul.menu > li {
		float: left;
	}
	ul.menu > li > a {
		font-family: $font1;
		color: $color_grey;
		line-height: 1.3;
		font-size: 18px;
		@include tab {
			font-size: 1.2rem;
			padding: 5px 16px;
		}
		span.m {
			display: block;
			position: relative;
			z-index: 10;
		}
		span.cloud {
			display: none;
			@include tab {
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				text-align: center;
				transition: all ease-out .3s;
				opacity: 0;
				visibility: hidden;
				margin-left: -18px;
				svg {
					display: inline-block;
					width: 110px;
					margin-left: -5%;
					position: relative;
				}
			}
		}
	}

	ul.menu > li:hover > a {
		@include tab {
			color: $color_blue;
			span.cloud {
				margin-left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* Menu Toggle */
.menu-toggle {
	display: block;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	background: transparent;
	position: absolute;
	top: 13px;
	right: 20px;
	width: 50px;
	height: 50px;
	padding: 6px;
	border: none;
	z-index: 4020;
	@include mid {
		display: none;
	}
	span.bar {
		position: relative;
	}
	span.bar, span.bar:before, span.bar:after {
		display: block;
		width: 100%;
		height: 4px;
		background: $color_blue;
		transition: all ease-in-out .3s;
	}
	span.bar:before, span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -10px;
	}
	span.bar:after {
		top: 10px;
	}
	&.open {
		span.bar {
			background: transparent;
		}
		span.bar:before, span.bar:after {
			background: $color_blue;
		}
		span.bar:before {
			transform: translateY(10px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-10px) rotate(-45deg);
		}
	}
}

#oVerlay {
    border-radius: 1000px;
    height: 100%;
    width: 100%;
    z-index: -999;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    right: 0;
    transition: all ease-in-out .3s;
}

/* Mobile Menu */
@media screen and (max-width: $tabwidth - 1px) {
	body.menu-open {
		overflow: hidden;
		#oVerlay {
			position: fixed;
			width: 100%;
			transform: scale(3);
			background: rgba(0, 0, 0, 0.85);
			top: 0;
			right: 0;
			z-index: 3000;
		}
		.menu-toggle {
			// position: fixed;
			// top: 67px;
			margin-right: 78%;
			span.bar:before, span.bar:after {
				background: #FFF;
			}
		}
	}
	.main-navigation {
		overflow: auto;
		position: fixed;
		top: 0;
		right: -500px;
		width: 0;
		height: 100%;
		background: #FFF;
		z-index: -99;
		padding: 20px;
		box-shadow: -3px 0 5px rgba(0,0,0,0.4);
		overflow: auto;
		border-top: 8px solid #1180ae;
		transition: all ease-in-out .3s;
		ul.menu {
			margin-top: 45px;
		}
		ul.menu > li:first-child {
			display: block;
		}
		ul.menu > li {
			display: block;
			width: 100%;
		}
		ul.menu > li > a {
			display: block;
			padding: 8px 15px;
			font-size: 22px;
			border-bottom: 1px dotted rgba(0,0,0,.25);
		}
		ul.menu li.current_page_item > a,
		ul.menu li:hover a {
			color: $color_blue;
		}
		ul.menu li.current_page_item > a {
			background: #FFF7EA;
		}
		&.open {
			width: 80%;
			z-index: 4000;
			right: 0;
			.mainmenu {
				display: block;
			}
		}
	}	
}


/* Slider */
.slider {
	&.swiper-container,
	.swiper-wrapper {
		width: 100%;
		height: 250px;
		transition: all ease-out .3s;
		@include xs {
			height: 350px;
		}
		@include tab {
			height: 500px;
		}
		@include mid {
			height: 600px;
		}
	}
	&#slideshow .swiper-slide {
		cursor: -webkit-grab; cursor: grab;
	}
	.swiper-slide {
		width: 100%;
		height: 100%;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all ease-out .3s;
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background:rgba(255,255,255, 0.35);
		opacity: 1;
		&.swiper-pagination-bullet-active {
			background:rgba(255,255,255,1);
		}
	}
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}
}
body.home #content.wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0 0;
}
.section {
	position: relative;
	.flexwrap {
		position: relative;
		z-index: 10;
		@include flexgroup-center();
	}
	.flexcol {
		position: relative;
	}
}
.section.intro {
	background: $color_pink;
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
	@include tab {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background:url("images/pattern-kids.png");
		background-position: center;
	}
	h1,h2,h3,h4,h5 {
		font-family: $font1;
		line-height: 1.3;
		margin: 0 0 20px;
	}
	h1 { font-size: 40px; }
	h2 { font-size: 30px; }
	h3 { font-size: 20px; }
	h4 { font-size: 25px; }
	h5 { font-size: 20px; }
	.textcol {
		@include tab {
			width: 60%;
		}
		.inside {
			padding: 30px 0;
			@include tab {
				padding: 2.5em 2.5em 2.5em 0;
			}
			@include mid {
				padding: 3.5em 3.5em 3.5em 0;
			}
		}
		p:first-child {
			margin-top: 0;
		}
		p {
			font-size: 18px;
		}
	}
	.imagecol {
		@include tab {
			width: 40%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.section.news-section {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.icon {
		text-align: center;
		margin-bottom: 20px;
		height: 100px;
		@include tab {
			height: 143px;
		}
		@include flexgroup-center();
		@include flexbox-justify(center);
		svg {
			display: inline-block;
			width: 100px;
			@include tab {
				width: 135px;
			}
		}
	}
	.flexcol {
		width: 100%;
		margin: 10px 0;
		@include mid {
			width: 33.3%;
			margin: 0 0;
		}
		.inside {
			padding: 10px;
			@include tab {
				padding: 5%;
			}
		}
	}
	.flexwrap {
		margin: 0 -1.65%;
		@include flexbox-align-items(flex-start);
	}
	.textwrap {
		position: relative;
		padding: 0;
		border-radius: 10px;
	}
	h2.hd {
		font-family: $font1;
		font-size: 30px;
		line-height: 1.3;
		margin: 0 0;
		text-align: center;
		color: #FFF;
	}
	.buttondiv {
		@include tab {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
	.buttondiv, .buttondiv .imorebtn {
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}
	.buttondiv .imorebtn {
		display: block;
		text-decoration: none;
		color: #FFF;
		font-size: 13px;
		line-height: 1;
		text-align: center;
		padding: 6px 5px;
		position: relative;
		z-index: 5;
		&#fbLink {
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 20px;
				position: absolute;
				top: -20px;
				left: 0;
				background: $color_blue;
				// background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(17,128,174,0.65) 100%);
				// background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(17,128,174,0.65) 100%);
				// background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(17,128,174,0.65) 100%);
				// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a61180ae',GradientType=0 );

			}
		}
	}
	.yellow {
		.textwrap {
			background: $color_yellow;
		}
		.buttondiv .imorebtn {
			background: shade($color_yellow, 10%);
			&:hover {
				background: shade($color_yellow, 22%);
			}
		}
	}
	.purple {
		.textwrap {
			background: $color_purple;
		}
		.buttondiv .imorebtn {
			background: shade($color_purple, 10%);
			&:hover {
				background: shade($color_purple, 22%);
			}
		}
	}
	.blue {
		.textwrap {
			background: $color_blue;
		}
		.buttondiv .imorebtn {
			background: shade($color_blue, 10%);
			&:hover {
				background: shade($color_blue, 22%);
			}
		}
	}
	.col-title {
		margin-bottom: 0;
		padding: 1em;
		@include tab {
			margin-bottom: 10px;
		}
	}
	.col-details {
		color: #FFF;
		@include tab {
			height: 535px;
			overflow: auto;
		}
	}
	.wave {
		text-align: center;
		svg {
			display: inline-block;
			width: 120px;
		}
	}

	p.simcal-align-right {
		display: none;
	}
	.simcal-calendar-list  {
		padding: 20px;
	}
	.simcal-date-format {
		background: transparent;
	}
	.simcal-events-list-container {
		@include flexgroup();
	}
	.simcal-day-label {
		border-bottom: none!important;
		span {
			background: $color_purple!important;
			border-bottom: none!important;
		}
	}
	.simcal-day {
		padding: 0 0 0 15px;
		margin: 0 0;
		line-height: 1.3;
		@include tab {
			padding-left: 10px;
		}
		li {
			padding-bottom: 6px;
		}
		li:last-child {
			padding-bottom: 0;
		}
	}
	.simcal-day ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.simcal-day-label {
		width: 100%;
		@include tab {
			width: 40%;
		}
	}
	.simcal-day {
		width: 100%;
		@include tab {
			width: 60%;
		}
	}
	.simcal-calendar .divider {
		width: 100%;
		margin: 15px 0;
		border-bottom: 1px solid rgba(255,255,255,95);
	}
}
.entries-wrapper {
	padding: 1.2em 1.2em 1.4em;
	position: relative;
	margin-bottom: 5px;
}

/* Home Columns */
.posts-column {
	.post-item {
		margin-top: 38px;
		position: relative;
		position: relative;
	}
	.post-item:first-child {
		margin-top: 0;
	}
	.inner {
		padding: 1em;
		background: #FFF;
		color: $color_main;
		@include flexgroup-center();
		@include mid {
			padding: 1.3em;
		}
	}
	.postdate {
		display: inline-block;
		position: absolute;
		top: -21px;
		left: 0;
		background: #FFF;
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1;
		color: $color_yellow;
		border-top-right-radius: 6px;
	}
	.thumb {
		width: 20%;
		float: left;
		background: #CCC;
		position: relative;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		&.hasimage {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		&.noimage {
			text-align: center;
			&:before {
				content:"Image Not Available";
				display: block;
				width: 100%;
				text-align: center;
				font-size: 12px;
				line-height: 1.2;
				color: #969696;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	.text {
		width: 80%;
		float: right;
		font-size: 13px;
		line-height: 1.4;
		padding-left: 15px;
	}
	.ptitle {
		margin: 0 0 5px;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.1;
		a {
			display: inline-block;
			text-decoration: none;
			color: $color_main;
			&:hover {
				color: $color_blue;
			}
		}
	}
}
.col-calendar {
	@media screen and (min-width: $midwidth) and (max-width: $deskwidth - 1px) {
		.newsItems.posts-column {
			.thumb {
				width: 70px;
				margin-bottom: 10px;
			}
			.text {
				width: 100%;
				padding-left: 0;
			}
		}
		.col-title {
			margin-bottom: 0;
		}
	}
}

.calendarItems.posts-column {
	padding-top: 0;
	.thumb {
		display: none;
	}
	.post-item {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #FFF;
	}
	.postdate {
		width: 20%;
		float: left;
		background: transparent;
		position: relative;
		padding: 0 0;
		top: 0;
		color: #FFF;
		a {
			text-decoration: underline;
			color: #FFF;
			font-size: 15px;
			line-height: 1;
			&:hover {
				opacity: 0.45;
			}
		}
	}
	.inner {
		background: transparent;
		color: #FFF;
		padding: 0 0;
		@include flexbox-align-items(flex-start);
	}
	.ptitle {
		a {
			color: #FFF;
			&:hover {
				opacity: 0.45;
			}
		}
	}
	@media screen and (min-width: $midwidth) and (max-width: $deskwidth - 1px) {
		.postdate {
			width: 100%;
			padding-bottom: 10px;
		}
		.text {
			width: 100%;
			padding-left: 0;
		}
	}
}
.hasSpinner {
	.spinner {
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 28px;
		&.show {
			display: block;
		}
		.loader {
			margin: 0 auto;
			border-top: .4em solid rgba(255, 255, 255, 0.2);
			border-right: .4em solid rgba(255, 255, 255, 0.2);
			border-bottom: .4em solid rgba(255, 255, 255, 0.2);
			border-left: .4em solid #ffffff;
		}
		.loader, .loader:after {
		    width: 2em;
		    height: 2em;
		}
	}
}

.cff-wrapper #cff.cff-default-styles {
	padding: 20px;
	a {
		display: inline-block;
		text-decoration: none;
		color: $color_blue;
	}
	.cff-date {
		color: rgba($color_blue, 0.75);
	}
	.cff-shared-link {
		border: 1px solid rgba(204, 204, 204, 0.45);
		background: rgba(183, 183, 183, 0.2);
	}
	.cff-item {
		background: #FFF;
		color: $color_main;
		padding: 15px;
		border-bottom: none!important;
		margin-bottom: 20px;
	}

	// .cff-author .cff-story {
	// 	display: block;
	// 	font-size: 12px;
	// 	font-weight: 400;
	// }
}
.site-main.default {
	min-height: 30em;
}
h1.entry-title {
	font-family: $font1;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.3;
	color: $color_blue;
	margin: 0 0 20px;
}

/* Footer */
.site-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: $color_blue;
	color: #FFF;
	font-size: 15px;
	.flexwrap {
		@include flexgroup-center();
	}
	.footlogo {
		width: 100px;
		height: auto;
		margin: 0 auto;
		@include xs {
			margin: 0 0;
		}
	}
	.footcol.left {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
		@include flexgroup-center();
		@include xs {
			width: 30%;
			text-align: left;
			margin-bottom: 0;
		}
	}
	.footcol.right {
		text-align: center;
		@include xs {
			width: 70%;
			text-align: right;
		}
	}
	.foottext {
		line-height: 1.3;
		text-transform: uppercase;
		&.t1 {
			letter-spacing: 2px;
			margin-bottom: 5px;
		}
		&.t2 {
			letter-spacing: 1px;
			font-size: 14px;
			@include tab {
				font-size: 12px;
			}
		}
		a {
			color: #FFF;
			text-decoration: none;
			display: inline-block;
			&:hover {
				opacity: 0.45;
			}
		}
		span {
			display: inline-block;
			padding-left: 10px;
			padding-right: 6px;
			position: relative;
			&:before {
				content:"";
				width: 1px;
				height: 75%;
				border-left: 1px solid #FFF;
				position: absolute;
				top: 3px;
				left: 0;
			}
			&.first {
				border-left: none;
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
}